
// VARIABLES
$box-shadow: 5px 10px 31px 0px rgba(0,0,0,0.75);
$color1 :#E5E7E9;
$body-bg: $color1;


// HERITAGE 
%picture {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


// THEME BOOTSTRAP
.theme1 {
    background-color: rgba(178, 186, 187,0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;  
}

.theme2 {
    background-color: rgba(251, 252, 252, 0.7);
}


// SHADOW
.myShadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.myShadow:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


// NAV
.nav-item {
    font-size: 1.3rem;
}


// PICTURE
#picture-main {
    background-image: url("src/background/picture-main.jpg");
    @extend %picture;
}

#picture-don {
    background-image: url("src/background/picture-don.jpg");
    @extend %picture;
}

#picture-signaler {
    background-image: url("src/background/picture-signaler.jpg");
    @extend %picture;
}

#picture-contact {
    background-image: url("src/background/picture-contact.jpg");
    @extend %picture;
}

#picture-info-site {
    background-image: url("src/background/picture-info-site.jpg");
    @extend %picture;
}

// MEDIA QUERIES
@media all and (max-width: 768px) {
    .nav-item { font-size: 1rem }
    .carousel-caption > h3 { font-size: 0.8rem;}
    .carousel-caption > button { font-size: 0.8rem;} 
}


// IMPORT FILES BOOTSTRAP
@import "node_modules/bootstrap/scss/bootstrap";
