
// VARIABLES
$box-shadow: 5px 10px 31px 0px rgba(0,0,0,0.75);
$color1 :#E5E7E9;
$body-bg: $color1;


// THEME BOOTSTRAP
.theme1 {
    background-color: rgba(178, 186, 187,0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;  
}

.theme2 {
    background-color: rgba(251, 252, 252, 0.7);
}

.myShadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.myShadow:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


// GENERAL
* {
    box-sizing: border-box;
}

// NAV
.nav-item {
    font-size: 1.3rem;
}

// PICTURE
#picture-main {
    background-image: url("src/picture-main.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;   
}

#picture-don {
    background-image: url("src/picture-don.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#picture-signaler {
    background-image: url("src/picture-signaler.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

#picture-contact {
    background-image: url("src/picture-contact.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}


// MEDIA QUERIES
@media all and (max-width: 768px) {
    .nav-item { font-size: 1rem }
    #picture-main { height: 40vh; }
    .carousel-caption > h3 { font-size: 0.8rem;}
    .carousel-caption > button { font-size: 0.8rem;} 
}

@media all and (max-width: 992px) {
    #picture-main { height: 50vh }
}


// IMPORT FILES BOOTSTRAP
@import "node_modules/bootstrap/scss/bootstrap";
